/* Write your CSS here */
.app-cont {
  background-color: #161625;
  min-height: 100vh;
  background-size: cover;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  padding: 20px 80px 20px 80px;
}
.logo {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
.head {
  display: flex;
  flex-direction: row;
}
.heading {
  color: #2cc6c6;
  margin-top: 8px;
}
.des {
  color: #cbd5e1;
  font-size: 30px;
  margin-top: 0px;
}
.failureView {
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
